{% include 'header.html' %}
<center>
    <h1 style="color:blue; text-align:center">Resultados</h1>
</center>
<img src="../../static/images/grafico.png" style="width: 40px; margin-left: 25px;" ALIGN=left href="/admin">
<img src="../../static/images/sobresalir.png" style="width: 40px; margin-left: 25px" ALIGN=left>
<table id="respuesta" class="table display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Optimista</th>
            <th>Pesimista</th>
            <th>Confianza</th>
            <th>Atención</th>
            <th>Afecto</th>
            <th>Extrovertido</th>
            <th>Introvertido</th>
            <th>Inteligente</th>
            <th>Deprimente</th>
            <th>Amigable</th>
            <th>Físico</th>
            <th>Ejercicio</th>
            <th>Solicitria</th>
            <th>Viajes</th>
            <th>Estación</th>
            <th>Emprendedor</th>
            <th>Elemento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for respuesta in respuestas %}
        <tr>
            <td>{{respuesta[0]}}</td>
            <td>{{respuesta[1]}}</td>
            <td>{{respuesta[2]}}</td>
            <td>{{respuesta[3]}}</td>
            <td>{{respuesta[4]}}</td>
            <td>{{respuesta[5]}}</td>
            <td>{{respuesta[6]}}</td>
            <td>{{respuesta[7]}}</td>
            <td>{{respuesta[8]}}</td>
            <td>{{respuesta[9]}}</td>
            <td>{{respuesta[10]}}</td>
            <td>{{respuesta[11]}}</td>
            <td>{{respuesta[12]}}</td>
            <td>{{respuesta[13]}}</td>
            <td>{{respuesta[14]}}</td>
            <td>{{respuesta[15]}}</td>
            <td>{{respuesta[16]}}</td>
            <td>{{respuesta[17]}}</td>
            <td><a href="/destroy/{{respuesta[0]}}">
                <button type="button" class="btn btn-danger">Eliminar</button></a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#respuesta').DataTable({
                responsive: true
            });
        }, 500);
    });
</script>

{% include 'footer.html' %}